@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<script src="~/js/Character.js" asp-append-version="true"></script>
<head>
    <title id="CharacterEditor">View Characters</title>
</head>
<body>
<div id="CharacterInfo">
    <table>
        <thead>CharacterName</thead>
        <thead>Class</thead>
        <thead>Level</thead>
        
    </table>
</div>
</body>
</html>