@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> This web app contains tools to help simplify DND related things</p>
    <p> Currently runs off MSSQL database,.NET MVC, and jQuery as tech stack </p>
</div>